* {
    box-sizing: border-box;
}

.container {
    max-width: 1170px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;

    .row {
        display: flex;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;
    }
}

.slider {
    background-color: #f0f0f2;
    overflow: hidden;

    .slick-slider {
        position: relative;
        display: block;
        box-sizing: border-box;
        user-select: none;
        touch-action: pan-y;
        -webkit-tap-highlight-color: transparent;

        .slick-list {
            position: relative;
            display: block;
            overflow: hidden;
            margin: 0;
            padding: 0;
            transform: translate3d(0, 0, 0);

            .slick-track {
                position: relative;
                top: 0;
                left: 0;
                display: block;
                margin-left: auto;
                margin-right: auto;
            }
        }
    }

    .hero-caption {
        overflow: hidden;

        h1 {
            font-family: "Josefin Sans", sans-serif;
            color: #0b1c39;
            font-size: 96px;
            font-weight: 700;
            margin-bottom: 26px;
        }

        p {
            font-size: 17px;
            font-weight: 400;
            margin-bottom: 39px;
            color: #212025;
            margin-bottom: 60px;
            padding-right: 50px;
        }

        .btn {
            padding: 12px 30px;
            background: #4a4a4b;
            color: #fff;
            border-radius: 0;
            font-family: "Josefin Sans", sans-serif;
            text-transform: uppercase;
            color: #fff;
            font-size: 16px;
            font-weight: 600;
            letter-spacing: 0.03em;
            border: 0;
            margin: 0;
        }

        .btn:hover {
            background: #ff2020;
            transition: color 0.4s linear;
        }
    }
}


.section-padding30 {
    padding-top: 200px;
    padding-bottom: 170px;
}

.new-product-area .col-lg-12 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.section-title h2 {
    margin-bottom: 70px;
    font-family: "Josefin Sans", sans-serif;
    color: #000;
    font-size: 48px;
    font-weight: 700;
    line-height: 1;
}

.single-new-pro {
    &:hover {
        .product-img {
            img {
                scale: 1.1;
            }
        }
    }

    .product-img {
        overflow: hidden;
        margin-bottom: 30px;

        img {
            transition: all .3s;
            -webkit-transition: all .3s;
            -moz-transition: all .3s;
            -ms-transition: all .3s;
            -o-transition: all .3s;
        }
    }

    h3 {
        font-family: "Josefin Sans", sans-serif;
        color: #444444;
        font-weight: 700;
        font-size: 24px;
        margin-bottom: 12px;
    }

    span {
        color: #ff2020;
        font-size: 18px;
        font-weight: 500;
        display: block;
    }
}

.gallery-area .single-gallery {
    position: relative;
    overflow: hidden;

    img {
        transition: all .3s;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        -ms-transition: all .3s;
        -o-transition: all .3s;
    }

    &:hover {
        .gallery-img {
            img {
                scale: 1.1;
            }
        }
    }

    .big-img {
        position: relative;
        height: 690px;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .small-img {
        position: relative;
        height: 364px;
        background-size: cover;
        background-repeat: no-repeat;
    }
}

.popular-items {
    .row {
        justify-content: center !important;
    }

    .room-btn {
        padding-top: 70px;
    }

    .single-popular-items {
        margin-bottom: 50px;
    }

    .img-cap :hover {
        color: #fff;
        background: #f81f1f;
        padding: 20px 0;
        display: block;
    }

    .btn {
        background: #ff2020;
        font-family: "Josefin Sans", sans-serif;
        text-transform: uppercase;
        color: #fff;
        font-size: 16px;
        font-weight: 600;
        letter-spacing: 0.03em;
        padding: 30px 28px;
        border-radius: 0px;
        display: inline-block;
        line-height: 0;
        margin-bottom: 0;
        transition: color 0.4s linear;
        position: relative;
        z-index: 1;
        border: 0;
        overflow: hidden;
        margin: 0;
    }

    .btn:hover {
        background: #4a4a4b;
        transition: transform 0.5s;
    }


    .section-tittle {
        p {
            width: 58%;
            margin-left: auto;
            margin-right: auto;
            font-family: "Roboto", sans-serif;
            color: #777;
            font-size: 16px;
            line-height: 30px;
            margin-bottom: 15px;
            font-weight: normal;
        }

        h2 {
            font-family: "Josefin Sans", sans-serif;
            color: #000;
            font-size: 48px;
            font-weight: 700;
            line-height: 1;
        }
    }
}


.video-area {
    background-image: url(./img/sectin_bg1.png.webp);
    width: 100%;
    height: 700px;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    position: relative;

    .video-area::before {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        content: "";
        background-color: rgba(2, 5, 12, 0.5);
        opacity: 0;
        z-index: 0;
        transition: all .4s ease-out 0s;
    }

    .container-fluid {
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }

    .play-btn {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        right: 0;
        text-align: center;

        a {
            width: 85px;
            height: 85px;
            display: inline-block;
            line-height: 85px;
            text-align: center;
            color: #fff;
            border-radius: 50%;
            font-size: 24px;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            padding-left: 5px;
            padding-top: 1px;
            border: 1px solid #fff;
            transform: scale(1);

            .fas {
                font-weight: 900;
                font-family: Font Awesome\ 5 Free;

                .fa-play::before {
                    content: "\f04b";
                }
            }


        }
    }
}

.thumb-content-box {
    position: absolute;
    bottom: 0px;
    left: 0px;
    z-index: 2;
    width: 34%;

    .thumb-content {
        position: absolute;
        bottom: 0;
        align-items: end;
        background-image: url(./img/vidoe_more.png.webp);
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        justify-content: space-between;
        padding: 60px 143px 60px 80px;
        width: 100%;
        line-height: 1;

        h3 {
            color: #ffffff;
            font-weight: 600;
            font-size: 16px;
            margin: 0;
            text-transform: uppercase;
        }

        a {
            color: #fff;
            display: block;
            position: relative;
            right: -34px;
            font-size: 30px;

            flaticon-arrow {
                font-family: Flaticon;
            }

            flaticon-arrow::before {
                content: "\f104";
            }
        }
    }
}


.watch-area {
    .row {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .choice-watch-img img {
        width: 100%;
    }

    .watch-details {
        margin-bottom: 40px;

        p {
            font-family: "Roboto", sans-serif;
            color: #777;
            margin-bottom: 50px;
            font-size: 17px;
        }

        h2 {
            font-family: "Josefin Sans", sans-serif;
            color: #000;
            font-size: 56px;
            font-weight: 700;
            line-height: 1;
            margin-bottom: 40px;
        }

        .btn {
            background: #ff2020;
            font-family: "Josefin Sans", sans-serif;
            text-transform: uppercase;
            color: #fff;
            font-size: 16px;
            font-weight: 600;
            letter-spacing: 0.03em;
            padding: 30px 28px;
            border-radius: 0px;
            display: inline-block;
            line-height: 0;
            position: relative;
            z-index: 1;
            border: 0;
            overflow: hidden;
            margin: 0;
        }

        .btn:hover {
            background: #4a4a4b;
            transition: transform 0.5s;
        }
    }
}