.mainFooter {
    background-color: #000;
    color: #fff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 0 10px;
    padding-top: 130px;
    padding-bottom: 100px;
}

.mainFooter h1{
    cursor: context-menu;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.mainFooter .container {
    padding: 0 15px;
}

.mainFooter h4{
    cursor: context-menu;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-bottom: 30px;
}

.container ul {
    list-style: none;
}

.container ul li {
    margin-bottom: 13px;
}

.mainFooter ul {
    padding-left: 0;
}

.mainFooter .container ul li a {
    text-decoration: none;
    color: #a1abc1;
}

a {
    transition: all .2s ease-out 0s;
    -webkit-transition: all .2s ease-out 0s;
    -moz-transition: all .2s ease-out 0s;
    -ms-transition: all .2s ease-out 0s;
    -o-transition: all .2s ease-out 0s;
}

.container ul li a:hover {
    color: #ff003c;
}

.container p {
    font-size: 16px;
    color: #777;
}

.row {
    width: 100%;
    display: flex;
}

.row>div {
    flex: 1;
}

.description {
    max-width: 260px;
    line-height: 1.8;
    font-size: 16px;
    margin-bottom: 50px;
}

.footer-logo {
    margin-bottom: 40px;
}

.footerCopyRight {
    padding-top: 50px;
}

.footerCopyRight p {
    color: #888888;
    font-weight: 300;
    font-size: 16px;
    line-height: 2;
    margin-bottom: 20px;
}

.footerCopyRight p i {
    padding-left: 4px;
    padding-right: 4px;
    color: #ff003c;
}

.footerCopyRight p a {
    padding-left: 4px;
    color: #ff003c;
    text-decoration: none;
}