.watches .slider {
    width: 100%;
    height: 100vh;
    background-image: url(./img/bg2.avif);
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
}

.watch-shop {
    padding-top: 100px;
    padding-bottom: 100px;

    img {
        background-color: #e6e3e3;
        cursor: pointer;
    }

    h6,
    h5 {
        cursor: context-menu;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    h6 {
        margin-top: 15px;
    }

    p {
        cursor: context-menu;
        margin-bottom: 40px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: #444444;
    }
}

.promotion-video {
    .vid-title {
        cursor: context-menu;
        text-align: center;
        margin-bottom: 40px;
    }
}

.feature {
    .title-1 {
        h3 {
            cursor: context-menu;
            margin-top: 40px;
            margin-bottom: 40px;
            text-align: center;
        }
    }

    .box {
        width: 1300px;
        height: 450px;
        background-color: #fff;
        border: 1px solid #000;
        margin: 40px auto;

        img {
            width: 600px;
            height: 447px;
        }

        h4 {
            cursor: context-menu;
            margin-top: 50px;
        }

        p {
            cursor: context-menu;
            display: flex;
            justify-content: center;
        }
    }
}

.content {

    margin-top: 100px;
    margin-bottom: 100px;

    img {
        width: 100%;
        margin-bottom: 20px;
    }
}