.details {
  .slider {
    background-image: url(/public/img/about_hero.png.webp);
    min-height: 500px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.container {
  max-width: 1170px;
}

.product-img-area {
  margin-top: 150px;
}

.container {
  row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
  }

  col-lg-12 {
    flex: 0 0 100%;
    max-width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
  }

  owl-carousel {
    width: 100%;
    z-index: 1;
  }
}

.single-product-text {
  margin: 100px 0 200px;
  text-align: center !important;

  .h3 {
    font-family: "Josefin Sans",sans-serif;
    font-size: 40px;
    color: #0b1c39;
    margin-top: 0px;
    font-style: normal;
    font-weight: 500;
  }
  
  .p {
    font-family: "Roboto", sans-serif;
    color: #777;
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 15px;
    margin-top: 50px;
    color: #707070;
  }
}


.card-area {
  margin-top: 60px;

  .product-count-area {
    display: flex;
    align-items: center;
    justify-content: center;

    p {
      margin-top: 0 !important;
      color: #828bb2;
    }

    .product-count {
      border: 1px solid #828bb2;
      margin: 0 35px;

      .product-count-items {
        width: 50px;
        height: 50px;
        line-height: 50px;
        text-align: center;
        display: inline-block;
      }
    }
  }
}


.card-area .add-to-cart {
  margin-top: 60px;

  .btn_3 {
    display: inline-block;
    padding: 18px 36px;
    border-radius: 5px;
    border: 1px solid #2577fd;
    font-size: 15px;
    font-weight: 700;
    color: #2577fd;
    text-transform: uppercase;
    font-weight: 400;
  }

  .btn_3:hover {
    background-color: #2577fd;
    color: #fff;
  }

}

.subscribe-part {
  background-color: #191d34;
}

.section-padding {
  padding: 200px 0px;
}

.subscribe-part-content {
  text-align: center;

  h2,
  p {
    color: #fff;
  }

  p {
    margin-top: 0;
  }
}

.subscribe-form {
  margin: 0 auto;
  margin-top: 45px;
  position: relative;
  max-width: 558px;

  input {
    border: 1px solid #fff;
    width: 100%;
    background-color: transparent;
    color: #fff;
    border-radius: 50px;
    padding: 19px 30px;
    line-height: 20px;
  }
}

.btn {
  background-color: #2577fd;
  color: #fff;
  padding: 15px 30px;
  line-height: 15px;
  border-radius: 50px;
  position: absolute;
  right: 5px;
  top: 4px;
}

.subscribe-part .subscribe-form .btn:hover {
  background-color: #fff;
  border: 2px solid #2577fd;
  color: #fff;
  display: inline-block;
}

.subscribe-part .container .col-lg-8 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}